---
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: 'Team',
};
---

<Layout {meta}>
  <section class="relative w-full">
    <div class="relative w-full px-8 pt-16 pb-16 ml-auto mr-auto bg-top bg-cover sm:max-w-xl md:max-w-full md:px-24 lg:px-8 lg:py-24 lg:pb-32">
        <div class="max-w-xl mb-10 ml-auto mr-auto bg-top bg-cover md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
          <div class="max-w-2xl mb-6 ml-auto mr-auto  tracking-tight  bg-top bg-cover sm:text-4xl md:mx-auto">
                <p class="inline max-w-lg  text-3xl font-bold leading-none tracking-tight  sm:text-4xl md:mx-auto">Our Awesome Team</p>
            </div>
        </div>
        <div class="grid gap-10 row-gap-8 ml-auto mr-auto sm:row-gap-10 lg:max-w-screen-lg sm:grid-cols-2 lg:grid-cols-3">
            
            <a href="https://mrgkanev.eu" title="Gabriel Kanev">
                <div class="flex items-center">
                    <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow" alt="A starry night sky.">
                    <div class="relative">
                        <p class="text-lg font-bold ">Gabriel Kanev</p>
                        <p class="text-sm text-gray-600">Chair</p>
                    </div>
                </div>
             </a>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Martin Nedelchev</p>
                    <p class="text-sm text-gray-600">Vice-Chair</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Tsvetelina Stefanova</p>
                    <p class="text-sm text-gray-600">Treasurer</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Metin Ibrqmov</p>
                    <p class="text-sm text-gray-600">Secretary</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Atila Pandzhar</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Martin Minchev</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Dimitar Dimitrov</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Denis Sami</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Preslav Stoyanov</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Deyan Dzhumaliyski</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Konstantin Tokov</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Aleksandar Ivanov</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Atanas Kabakchiev</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Reni Kabakchieva</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Todor Yordanov</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Plamena Dinolova</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
            <div class="flex items-center">
                <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow">
                <div class="relative">
                    <p class="text-lg font-bold ">Teodor Nenov</p>
                    <p class="text-sm text-gray-600">Member</p>
                </div>
            </div>
        </div>
    </div>
</section>
</Layout>
