---
export interface Props {
    Name: string;
    Title: string;
    Image: string;
    Href: string;
}
const { Name, Title } = Astro.props;
---

<a href="#">
    <div class="flex items-center">
        <img src="/no-avatar.jpg" class="object-cover w-20 h-20 mr-4 rounded-full shadow" alt="{Name}" />
        <div class="relative">
            <p class="text-lg font-bold">{Name}</p>
            <p class="text-sm text-gray-600">{Title}</p>
        </div>
    </div>
</a>
